<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script> <!-- Incluindo HTMX -->
</head>
<body>
    <h1>Bem-vindo ao Sistema ERP</h1>

    <!-- Botões para acessar as páginas -->
    <button onclick="window.location.href='assets/clientes.html'">Clientes</button>
    <button hx-get="/produtos.html" hx-trigger="click" hx-target="#content">Produtos</button>
    <button hx-get="/pedidos.html" hx-trigger="click" hx-target="#content">Pedidos</button>

    <!-- Área para carregar as páginas -->
    <div id="content"></div>

</body>
</html>

